html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%;
}

#wrapper {
    display: flex;
    width: 100%;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

#content {
    flex: 1 0 auto !important;
}

.sticky-footer {
    flex-shrink: 0;
}

.table thead th a {
    text-decoration: none;
    color: inherit; 
}

.table thead th a:hover {
    color: #dddfeb; 
}