@using System.Security.Claims

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - FreeStyleApp</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body id="page-top">
    <div id="wrapper">
        <partial name="_Sidebar" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_Topbar" />
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Bản quyền &copy; FreeStyleApp @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal thông báo -->
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" id="notificationModalHeader">
                    <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                    <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="notificationModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal xác nhận -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning text-dark">
                    <h5 class="modal-title" id="confirmModalLabel">
                        <i class="fas fa-exclamation-triangle"></i> Xác nhận
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="confirmModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="confirmModalOkBtn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        // Hàm hiển thị thông báo (success/error) - dùng Bootstrap 4 (jQuery)
        function showDialog(message, isSuccess) {
            var $modal = $('#notificationModal');
            var $modalHeader = $('#notificationModalHeader');
            var $modalLabel = $('#notificationModalLabel');
            var $modalBody = $('#notificationModalBody');

            $modalHeader.removeClass('bg-success bg-danger');
            if (isSuccess) {
                $modalHeader.addClass('bg-success');
                $modalLabel.html('<i class="fas fa-check-circle"></i> Thành công');
            } else {
                $modalHeader.addClass('bg-danger');
                $modalLabel.html('<i class="fas fa-exclamation-circle"></i> Lỗi');
            }

            $modalBody.html('<p class="mb-0">' + message + '</p>');
            $modal.modal('show');
        }

        // Hàm hiển thị dialog xác nhận
        let confirmCallback = null;
        
        function showConfirmDialog(message, onConfirm) {
            var $modal = $('#confirmModal');
            var $modalBody = $('#confirmModalBody');
            var $confirmBtn = $('#confirmModalOkBtn');

            $modalBody.html(message);
            confirmCallback = onConfirm;

            // Thay mới nút để clear mọi handler cũ
            var $newBtn = $confirmBtn.clone(true);
            $confirmBtn.replaceWith($newBtn);
            $newBtn = $('#confirmModalOkBtn');

            $newBtn.off('click').on('click', function () {
                $('#confirmModal').modal('hide');
                if (confirmCallback && typeof confirmCallback === 'function') {
                    confirmCallback();
                }
                confirmCallback = null;
            });

            $modal.modal('show');
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>