@using System.Security.Claims

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - FreeStyleApp</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body id="page-top">
    <div id="wrapper">
        <partial name="_Sidebar" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_Topbar" />
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Bản quyền &copy; FreeStyleApp @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal thông báo -->
    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white" id="notificationModalHeader">
                    <h5 class="modal-title" id="notificationModalLabel">Thông báo</h5>
                    <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="notificationModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal xác nhận -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning text-dark">
                    <h5 class="modal-title" id="confirmModalLabel">
                        <i class="fas fa-exclamation-triangle"></i> Xác nhận
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="confirmModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="confirmModalOkBtn">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        // Hàm hiển thị thông báo (success/error) - dùng Bootstrap 4 (jQuery)
        function showDialog(message, isSuccess) {
            var $modal = $('#notificationModal');
            var $modalHeader = $('#notificationModalHeader');
            var $modalLabel = $('#notificationModalLabel');
            var $modalBody = $('#notificationModalBody');

            $modalHeader.removeClass('bg-success bg-danger');
            if (isSuccess) {
                $modalHeader.addClass('bg-success');
                $modalLabel.html('<i class="fas fa-check-circle"></i> Thành công');
            } else {
                $modalHeader.addClass('bg-danger');
                $modalLabel.html('<i class="fas fa-exclamation-circle"></i> Lỗi');
            }

            $modalBody.html('<p class="mb-0">' + message + '</p>');
            $modal.modal('show');
        }

        // Hàm hiển thị dialog xác nhận
        let confirmCallback = null;
        
        function showConfirmDialog(message, onConfirm) {
            var $modal = $('#confirmModal');
            var $modalBody = $('#confirmModalBody');
            var $confirmBtn = $('#confirmModalOkBtn');

            $modalBody.html(message);
            confirmCallback = onConfirm;

            // Thay mới nút để clear mọi handler cũ
            var $newBtn = $confirmBtn.clone(true);
            $confirmBtn.replaceWith($newBtn);
            $newBtn = $('#confirmModalOkBtn');

            $newBtn.off('click').on('click', function () {
                $('#confirmModal').modal('hide');
                if (confirmCallback && typeof confirmCallback === 'function') {
                    confirmCallback();
                }
                confirmCallback = null;
            });

            $modal.modal('show');
        }

        // Hàm lưu trạng thái mở/đóng của groups vào localStorage
        function saveGroupState(collapseId, isOpen) {
            try {
                var states = JSON.parse(localStorage.getItem('featureGroupStates') || '{}');
                states[collapseId] = isOpen;
                localStorage.setItem('featureGroupStates', JSON.stringify(states));
            } catch (e) {
                console.error('Error saving group state:', e);
            }
        }
        
        // Hàm khôi phục trạng thái mở/đóng của groups từ localStorage
        function restoreGroupStates() {
            try {
                var states = JSON.parse(localStorage.getItem('featureGroupStates') || '{}');
                $('.feature-group-toggle').each(function() {
                    var collapseId = $(this).data('collapse-id');
                    if (collapseId && states[collapseId] === true) {
                        var $content = $('#' + collapseId);
                        var $heading = $(this);
                        var $icon = $heading.find('.collapse-icon');
                        
                        if ($content.length > 0) {
                            $content.show();
                            $heading.removeClass('collapsed').addClass('active');
                            $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                        }
                    }
                });
            } catch (e) {
                console.error('Error restoring group states:', e);
            }
        }
        
        // Hàm toggle FeatureGroup - có thể gọi từ bất kỳ đâu
        function toggleFeatureGroup(collapseId, headingElement) {
            var $content = $('#' + collapseId);
            var $heading = $(headingElement);
            var $icon = $heading.find('.collapse-icon');
            
            if ($content.length === 0) {
                console.error('Content element not found for ID:', collapseId);
                return;
            }
            
            // Đóng tất cả các group khác (chỉ khi mở group mới)
            var isCurrentlyVisible = $content.is(':visible');
            
            // Toggle group hiện tại
            if (isCurrentlyVisible) {
                // Đóng group hiện tại
                $content.slideUp(300);
                $heading.removeClass('active').addClass('collapsed');
                $icon.removeClass('fa-chevron-up').addClass('fa-chevron-down');
                saveGroupState(collapseId, false);
            } else {
                // Mở group hiện tại và đóng các group khác
                $('.feature-group-content').not($content).slideUp(300);
                $('.feature-group-toggle').not($heading).each(function() {
                    var otherId = $(this).data('collapse-id');
                    if (otherId) {
                        saveGroupState(otherId, false);
                    }
                });
                $('.feature-group-toggle').not($heading).removeClass('active').addClass('collapsed');
                $('.feature-group-toggle').not($heading).find('.collapse-icon').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                
                $content.slideDown(300);
                $heading.removeClass('collapsed').addClass('active');
                $icon.removeClass('fa-chevron-down').addClass('fa-chevron-up');
                saveGroupState(collapseId, true);
            }
        }
        
        // Flag để đánh dấu đang click vào feature link
        var isClickingFeatureLink = false;
        
        // Xử lý collapse cho FeatureGroups trong sidebar
        $(document).ready(function() {
            console.log('FeatureGroup collapse script loaded');
            console.log('Found feature-group-toggle elements:', $('.feature-group-toggle').length);
            
            // Khôi phục trạng thái mở/đóng của groups từ localStorage
            restoreGroupStates();
            
            // Đảm bảo feature links không trigger collapse - ĐẶT TRƯỚC handler của toggle
            $(document).on('click', '.feature-link, .feature-group-content .nav-link, .feature-group-content a, .feature-group-content li', function(e) {
                // Đánh dấu đang click vào feature link
                isClickingFeatureLink = true;
                
                // Lưu trạng thái mở của group chứa feature link này
                var $groupContent = $(this).closest('.feature-group-content');
                if ($groupContent.length > 0) {
                    var collapseId = $groupContent.attr('id');
                    if (collapseId) {
                        saveGroupState(collapseId, true); // Lưu trạng thái mở
                    }
                }
                
                // Cho phép navigation bình thường, ngăn event bubble lên HOÀN TOÀN
                e.stopPropagation();
                e.stopImmediatePropagation();
                
                console.log('Feature link clicked, preventing collapse');
                
                // Reset flag sau một khoảng thời gian ngắn
                setTimeout(function() {
                    isClickingFeatureLink = false;
                }, 200);
                
                // Không preventDefault để cho phép navigation
                return true; // Cho phép navigation
            });
            
            // Chỉ toggle khi click vào chính heading element, không phải vào feature links
            $(document).on('click', '.feature-group-toggle', function(e) {
                // Nếu đang click vào feature link, không toggle
                if (isClickingFeatureLink) {
                    console.log('Click on feature link detected, ignoring toggle');
                    return false;
                }
                
                // Kiểm tra nếu click vào feature link hoặc element con của feature-group-content, không toggle
                var $target = $(e.target);
                
                // Nếu click vào feature link hoặc content, không toggle
                if ($target.closest('.feature-link, .nav-link, .nav-item, .feature-group-content').length > 0) {
                    console.log('Click on feature link or content, ignoring toggle');
                    return false; // Không xử lý nếu click vào feature link
                }
                
                // Chỉ toggle nếu click vào chính heading (không phải vào element con là feature link)
                e.preventDefault();
                e.stopPropagation();
                
                var collapseId = $(this).data('collapse-id');
                if (collapseId) {
                    console.log('Toggling group:', collapseId);
                    toggleFeatureGroup(collapseId, this);
                }
                
                return false;
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>